$borderColor: #e4e4e4;

main {
    .content {
        padding: 30px;
        min-height: 50px;
        border-bottom: $borderColor solid 0.5px;
        border-top: $borderColor solid 0.5px;

        &:hover {
            background-color: #ebebeb;
        }

        .date {
            font-size: 0.8rem;
            color: #acacac;
        }
    }

    .list {
        border-left: $borderColor solid 1px;
        border-right: $borderColor solid 1px;
    }
}