{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
    <title>メモ帳 | 削除確認</title>
</head>

<body>
    <div class="main-contents">
        <header>
            {% include 'header.html' %}
        </header>
        <main>
            <div class="section-title">
                <h1>メモの削除</h1>
            </div>
            <div class="main-section">
                <form method="post">
                    {% csrf_token %}
                    <p>{{ object.created_at }} {{ object.title }} を削除します</p>
                    {% bootstrap_button button_type="submit" content="削除確定" size="md" %}
                </form>
            </div>
        </main>
        <script src="{% static 'js/index.js' %}"></script>
    </div>
</body>

</html>